<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link rel="stylesheet" href="/style/style.css">
    <title>TECNOLOGÍA WEB</title>
</head>

<body>
    <header>
        <div class="div">
            <br>
            <h1 class="dm">Diseño <span>Multimedia</span></h1>
              <a class="item " href="/index.html">INICIO</a>
              <a class="item " href="/templates/nosotros.html">NOSOTROS</a>
              <a class="item " href="/templates/servicio.html">SERVICIO</a>
              <a class="item " href=""><span>CONTACTO</a></span>
            </div>
              <div class="a"></div>     
    </header> 

    <nav class="e">
        <h3>Suscribete A Nuestro Boletin</h3>
        <div>
            <input type="text" value="ingrese el email"/>
            <button>Suscribete</button>
        </div>
    </nav>

    <br>
    <main class="container gap-2 ">

        <section class="formulario">
            <h2 class="con"> Contacto </h2>
            <label for="nombre"> Nombre: </label>
            <input class="form" type="text" name="nombre" id="nombre" placeholder="Ingresa tu nombre" /> <br>

            <label for="correo"> Email: </label>
            <input class="form" type="email" name="correo" id="correo" placeholder="Ingresa tu email"> <br>

            <label for="telefono"> Teléfono: </label>
            <input class="form" type="tel" name="telefono" id="telefono" placeholder="Ingresa tu teléfono"> <br>

            <label for="telefono"> Celular: </label>
            <input class="form" type="tel" name="telefono" id="telefono" placeholder="Ingresa tu celular"> <br>

            <label for="sugerencia"> Mensaje </label>
            <textarea name="sugerencia" class="form" id="sugerencia"></textarea>
            <button class="boton"> Enviar </button>

        </section>
        <aside class="aside gap-2">
            <div class="third">

                <h1> Que hacemos </h1>
                <br>
                <p> Lorem ipsum dolor sit amet consectetur adipisicing elit. Obcaecati dolores, adipisci vel, autem
                    commodi
                    vitae quae quidem amet eveniet provident, omnis sunt fugit sit sapiente soluta rem id velit
                    doloribus.
                </p>
            </div>
            <div class="imag">
                <img src="/assets/img/mapaGoogle.png">
            </div>
        </aside>
    </main>
    <footer>
        <div class="footern">
            
            <h5>Graphel Desarrolla Web , Copyright © 2017</h5>
        </div>
    </footer>

</body>

</html>