<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Taller Graphel </title>
    <link rel="stylesheet" href="/style/style.css">
</head>
<body>
    <header>
        <div class="div">
            <br>
            <h1 class="dm">Diseño <span>Multimedia</span></h1>
              <a class="item " href="/index.html">INICIO</a>
              <a class="item " href=""><span>NOSOTROS</a></span>
              <a class="item " href="/templates/servicio.html">SERVICIO</a>
              <a class="item " href="/templates/contacto.html">CONTACTO</a>
            </div>
              <div class="a"></div>     
    </header>    
    <nav class="e">
        <h3>Suscribete A Nuestro Boletin</h3>
        <div>
            <input type="text" value="ingrese el email"/>
            <button>Suscribete</button>
        </div>
    </nav>
       <aside>
        <h2 class="nosotros">Nosotros</h2>
        <p class="p">Lorem ipsum dolor sit amet consectetur adipisicing elit. Veritatis inventore voluptate, neque, voluptatum porro quas tempora enim tenetur ratione odio aliquam vitae veniam. Sit omnis aspernatur ad impedit incidunt possimus. Lopsum dolor sit amet consectetur adipisicing elit. Quam maxime a pariatur ea, earum consequuntur eligendi beatae nam reprehenderit necessitatibus, perspiciatis repellat, commodi possimus! Dolorem cumque id quam aliquam accusantium.</p>
        <p class="cas">aliquam eget Lorem ipsum dolor sit amet consectetur adipisicing elit. In magnam inventore veniam, corrupti excepturi quas doloremque, vel, facilis quidem ipsum culpa? Laborum ab et, distinctio omnis minus fuga eaque itaque Lorem ipsum dolor sit amet consectetur, adipisicing elit. A, accusamus odit asperiores doloribus sunt mollitia facere eaque deserunt molestias ipsum hic corrupti, dolore quas. Veniam numquam doloremque repellendus repellat quo? Lorem ipsum, dolor sit amet consectetur adipisicing elit. Ex ratione voluptatibus dignissimos dicta velit suscipit et repellat perspiciatis adipisci? Natus expedita dolore nam alias quis distinctio sed quisquam labore vitae.!</p>
        <p class="cas2">Lorem ipsum dolor sit amet consectetur adipisicing elit. Voluptate, quisquam ad! Libero, ipsam qui nihil est et, exercitationem temporibus, asperiores dolorem reprehenderit facere quidem? Voluptates maiores impedit quas numquam quidem!istinctio sed quisquam labore vitae.!</p>

       </aside>


       <section>
        <img class="img2" src="/assets/img/891.jpg">
       </section>

       
    <footer>
        <div class="footern">
            
            <h5>Graphel Desarrolla Web , Copyright © 2017</h5>
        </div>
    </footer>



       
    
</body>
</html>