<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Taller Graphel </title>
    <link rel="stylesheet" href="/style/style.css">
</head>
<body>
    <header>
        <div class="div">
            <br>
            <h1 class="dm">Diseño <span>Multimedia</span></h1>
              <a class="item " href="/index.html">INICIO</a>
              <a class="item " href="/templates/nosotros.html">NOSOTROS</a>
              <a class="item " href=""><span>SERVICIO</a></span>
              <a class="item " href="/templates/contacto.html">CONTACTO</a>
            </div>
              <div class="a"></div>     
    </header>  
    <aside class="e">
      <h3>Suscribete A Nuestro Boletin</h3>
      <div>
          <input type="correo" value="ingrese el email"/>
          <button>Suscribete</button>
      </div>
  </aside>
<h2 class="nosotros">Servicios</h2>
<br><br>
  <main class="cas1">
    
    <strong>Diseño web</strong>
    <p >deserunt molestias ipsum Ex ratione voluptatibus dignissimos dicta velit suscipit et repellat perspiciatis adipisci? Natus expedita dolore nam alias quis distinctio sed quisquam labore vitae.!<br><br>precio $300000 - $100000</p>
  </main>
<main class="cas1">
    <strong>Desarrollo web</strong>
    <p > deserunt molestias ipsum Ex ratione voluptatibus dignissimos dicta velit suscipit et repellat perspiciatis adipisci? Natus expedita dolore nam alias quis distinctio sed quisquam labore vitae.!<br><br>precio $100000</p>
  </main>
<main class="cas1">
    <strong>Hosting web</strong>
    <p > deserunt molestias ipsum Ex ratione voluptatibus dignissimos dicta velit suscipit et repellat perspiciatis adipisci? Natus expedita dolore nam alias quis distinctio sed quisquam labore vitae.!<br><br>precio $30000</p>
       
  </main>
  <main>
    <p class="cas3">Lorem ipsum dolor sit amet consectetur adipisicing elit. Voluptate, quisquam ad! Libero, ipsam qui nihil est et, exercitationem temporibus, asperiores dolorem reprehenderit facere quidem? Voluptates maiores impedit quas numquam quidem!istinctio sed quisquam labore vitae.!</p>
  </main>
    <footer>
      <div class="footers">
          
          <h5>Graphel Desarrolla Web , Copyright © 2017</h5>
      </div>
  </footer>



</body>
</html>